DJango==1.5
django-ios-notifications
south
pillow
-e git+https://github.com/imcj/django-piston#egg=django-piston
-e git+https://github.com/imcj/django-oauthost@c6382836817c88307de0a712c65575f8f211743a#egg=django-oauthost
mock
gunicorn
